/*=========================================
GARDA PATRIOT EVENT
Responsive System V2.0
=========================================*/


/* =========================================
Desktop XL
========================================= */

@media (max-width:1400px){

.container{

width:90%;

margin:auto;

}

}


/* =========================================
Laptop
========================================= */

@media (max-width:1200px){

section{

padding:90px 6%;

}

h1{

font-size:52px;

}

h2{

font-size:40px;

}

}


/* =========================================
Tablet
========================================= */

@media (max-width:992px){

section{

padding:80px 6%;

}

}


/* =========================================
Mobile
========================================= */

@media (max-width:768px){

section{

padding:70px 5%;

}

}


/* =========================================
Small Mobile
========================================= */

@media (max-width:576px){

section{

padding:60px 20px;

}

}